# Sphinx Documentation Files
*doc/build/*
*doc/source/_build/*
*doc/source/_static/*
*doc/source/_templates/*
*doc/source/sg_execution_times.rst
*doc/source/matplotlib/auto_examples/*

# Input Data
*input_data/*
!input_data/get_data.sh

# Miscellaneous
*.pyc
*.pickle
*.ipynb
*.zip
*.md5
*.png
*.svg
*.out
