# Sphinx Documentation Files
*doc/_build/*
*doc/_static/*
*doc/_templates/*
*doc/sg_execution_times.rst
*doc/matplotlib/auto_examples/*

# Input Data
*input_data/*
!input_data/get_data.sh

# Miscellaneous
*.pyc
*.pickle
*.ipynb
*.zip
*.md5
*.png
*.svg
*.out
